html,
body {
    height: 100%;
}

li {
    margin: auto 0;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: #18407E;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page {
    flex: 1 1 auto
}

.link {
    color: black !important;
}

.light-link {
    color: white !important;
}

.link:hover {
    color: #D7B436 !important;
}


.is-active {
    background: #D7B436 !important;
}

.category-link {
    width: calc(100% / 3 - 1rem);
    transition: background-color .50s ease-in-out;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left
}

footer {
    font-size: 10px;
}
